.actions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .section-title {
    margin: 0;
  }
}

.owned {
  border-left: rgba(255, 42, 159, 0.685) solid 5px;
}
