<div class="container">
  <form [formGroup]="form" class="send-form">
    <mat-form-field appearance="fill" class="full-width">
      <input type="text" formControlName="Username" matInput [matAutocomplete]="auto" placeholder="Recipient username"
        aria-label="Recipient username" />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)">
        <mat-option *ngFor="let user of filteredUsers$ | async" [value]="user">
          {{ user.Username }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="form.controls['Username'].hasError('required')">
        Username is required
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="confirmSend()" class="confirm-button">
      Confirm Send
    </button>
  </form>
</div>
