<!-- Sell Orders Section -->
<div class="sell-orders-table" style="margin-bottom: 3rem;">
  <h2>Sell Orders</h2>

  <div *ngIf="loadingSellOrders">Loading Sell Orders...</div>
  <div *ngIf="!loadingSellOrders && sellOrders.length === 0">No sell orders found.</div>

  <div *ngIf="!loadingSellOrders && sellOrders.length > 0" class="sell-orders-container">
    <table mat-table [dataSource]="sellOrders" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="token_name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let order" class="name-column"> {{ order.TokenName }} </td>
      </ng-container>

      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef class="currency-column"> Currency </th>
        <td mat-cell *matCellDef="let order" class="currency-column"> {{ order.CurrencySymbol }} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="amount-column"> Amount </th>
        <td mat-cell *matCellDef="let order" class="amount-column"> {{ order.Amount }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let order">
          <button mat-icon-button color="primary" (click)="acceptSellOrder(order)" matTooltip="Accept"
            *ngIf="canAcceptSellOrder(order)">
            <mat-icon class="accept-order">check_circle</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="cancelSellOrder(order)" matTooltip="Delete"
            *ngIf="canCancelSellOrder(order)">
            <mat-icon class="delete-order">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="sellTableColumns; sticky: true" class="header"></tr>
      <tr mat-row *matRowDef="let nft; columns: sellTableColumns;" class="nft-row"></tr>
    </table>
  </div>
</div>

<!-- Exchange Offers Section -->
<div class="exchange-offers-table">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
    <h2 style="margin: 0;">Exchange Offers</h2>
    <button mat-raised-button color="primary" (click)="openCreateExchangeOfferDialog()">Create Exchange Offer</button>
  </div>

  <div *ngIf="loadingExchangeOffers">Loading Exchange Offers...</div>
  <div *ngIf="!loadingExchangeOffers && exchangeOffers.length === 0">No exchange offers found.</div>

  <div *ngIf="!loadingExchangeOffers && exchangeOffers.length > 0" class="exchange-offers-container">
    <table mat-table [dataSource]="exchangeOffers" multiTemplateDataRows class="mat-elevation-z8">

      <ng-container matColumnDef="requesting_amount">
        <th mat-header-cell *matHeaderCellDef>
          <mat-icon class="outgoing-icon">north_west</mat-icon>
          You give
        </th>
        <td mat-cell *matCellDef="let offer" class="amount-column outgoing-amount">
          {{ offer.RequestingAmount }} {{ offer.RequestingCurrencySymbol }}
        </td>
      </ng-container>


      <ng-container matColumnDef="giving_amount">
        <th mat-header-cell *matHeaderCellDef>
          <mat-icon class="incoming-icon">south_east</mat-icon>
          You receive
        </th>
        <td mat-cell *matCellDef="let offer" class="amount-column incoming-amount">
          {{ offer.GivingAmount }} {{ offer.GivingCurrencySymbol }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let offer">
          <div class="action-buttons">
            <button mat-icon-button color="primary" (click)="acceptExchange(offer)" matTooltip="Accept"
              *ngIf="canAcceptExchange(offer)">
              <mat-icon class="accept-offer">check_circle</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="cancelExchange(offer)" matTooltip="Delete"
              *ngIf="canCancelExchange(offer)">
              <mat-icon class="delete-offer">delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="exchangeTableColumns; sticky: true" class="header"></tr>
      <tr mat-row *matRowDef="let nft; columns: exchangeTableColumns;" class="nft-row"></tr>
    </table>
  </div>
</div>
