.incoming-icon {
  vertical-align: middle;
  color: green;
  margin-right: 0.25rem;
}

.outgoing-icon {
  vertical-align: middle;
  color: red;
  margin-right: 0.25rem;
}

.incoming-amount {
  color: green;
  font-weight: bold;
}

.outgoing-amount {
  color: red;
  font-weight: bold;
}
