.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Full screen height
  background-color: #eef2f5;
}

.register-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  gap: 1.2rem;

  mat-form-field {
    width: 100%;
  }

  button {
    align-self: flex-end;
  }
}
